@model List<Model.EF.Menu>
<div class="menu">
    <ul>
        @*@foreach (var item in Model)
        {
            <li>
                <a href="@item.Link" target="@item.Target">@item.Text</a>
               
            </li>
        }*@
        <li><a href="/home/index">Trang Chủ</a></li>
        <li><a href="/about/index">Giới Thiệu</a></li>
        <li><a>Liên Hệ</a></li>
        <div class="clear"></div>
    </ul>
</div>