
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giới thiệu</h2>

<p>
    Không thực hiện quyết định áp dụng biện pháp hạn chế tập trung đông người hoặc tạm đình chỉ hoạt động kinh doanh, dịch vụ tại nơi công cộng để phòng, chống dịch Covid-19 thì bị phạt tiền tối đa đến 10 triệu đồng đối với cá nhân, 20 triệu đồng đối với tổ chức.

    Người không thực hiện quyết định kiểm tra, giám sát, xử lý y tế trước khi ra vào vùng có dịch bị phạt tiền tối đa đến 20 triệu đồng.

    Người nào trốn khỏi nơi cách ly; không tuân thủ quy định về cách ly; từ chối, trốn tránh việc áp dụng biện pháp cách ly, cưỡng chế cách ly để phòng, chống dịch Covid-19 có thể bị xử phạt hành chính tối đa đến 10 triệu đồng hoặc bị xử lý theo Điều 240 Bộ luật Hình sự trong trường hợp gây truyền dịch bệnh cho người khác.

    Người nào trốn khỏi nơi cách ly; không tuân thủ quy định về cách ly; từ chối, trốn tránh việc áp dụng biện pháp cách ly, cưỡng chế cách ly mà gây thiệt hại từ 100 triệu đồng trở lên do phát sinh chi phí phòng, chống dịch bệnh Covid-19 thì bị xử lý theo Điều 295 Bộ luật Hình sự.

    Người nào khai báo y tế, khai báo không đầy đủ hoặc khai báo gian dối gây lây truyền dịch bệnh Covid-19 cho người khác bị xử lý theo Điều 240 Bộ luật Hình sự.

    Người nào đưa lên mạng máy tính, mạng viễn thông thông tin giả mạo, thông tin sai sự thật, thông tin xuyên tạc về tình hình dịch bệnh Covid-19 có thể bị tiền tối đa đến 15 triệu đồng hoặc bị xử lý theo Điều 288 Bộ luật Hình sự.

    Người có hành vi dùng vũ lực, đe dọa dùng vũ lực hoặc thủ đoạn khác cản trở người thi hành công vụ trong phòng, chống dịch bệnh Covid-19 thì bị xử lý theo Điều 330 Bộ luật Hình sự.

    Chủ cơ sở kinh doanh, người quản lý cơ sở kinh doanh dịch vụ (như quán ba, vũ trường, karaoke, dịch vụ mát-xa, cơ sở thẩm mỹ...) thực hiện hoạt động kinh doanh khi đã có quyết định tạm đình chỉ hoạt động kinh doanh để phòng chống dịch bệnh Covid-19, gây thiệt hại từ 100 triệu đồng trở lên do phát sinh chi phí phòng, chống dịch bệnh thì bị xử lý theo Điều 295 Bộ luật Hình sự.
</p>