
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container about_shop">
    <div class="name_shop">
        <h2>CÔNG TY TNHH PHẦN MỀM XEP</h2>
    </div>
    <div class="media_shop">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SjNkzlVv0GE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content_shop">
        <p>
            Đội ngũ lập trình phần mềm của chúng tôi đã được các khách hàng lớn tin tưởng giao cho các dự án quan trong của mình như Becamex Bình Dương, Bất động sản Thành Tuấn, Accounting Pro, Korean Customer, Lan Anh club, Website thương mại điện tử Điện Máy Nhanh, Trung tâm phân phối thuốc Difoco, Trường đào tạo lái xe Tiến Bộ,Tổng công ty truyền tải điện quốc gia PTC4, Công ty vật liệu xây dựng CIIEC, Công ty cổ phần giải pháp sức khỏe Vitamia, Tổng công ty môi trường và đô thị Hồ Chí Minh, Tổng công ty vận chuyển Hồng Bảo Trân, Công ty Phố Vip, Hải đoàn hải quân 129, Tổng đại lý bán vé Phương Nam...
        </p>
        <p>
            Đội ngũ lập trình phần mềm của chúng tôi đã được các khách hàng lớn tin tưởng giao cho các dự án quan trong của mình như Becamex Bình Dương, Bất động sản Thành Tuấn, Accounting Pro, Korean Customer, Lan Anh club, Website thương mại điện tử Điện Máy Nhanh, Trung tâm phân phối thuốc Difoco, Trường đào tạo lái xe Tiến Bộ,Tổng công ty truyền tải điện quốc gia PTC4, Công ty vật liệu xây dựng CIIEC, Công ty cổ phần giải pháp sức khỏe Vitamia, Tổng công ty môi trường và đô thị Hồ Chí Minh, Tổng công ty vận chuyển Hồng Bảo Trân, Công ty Phố Vip, Hải đoàn hải quân 129, Tổng đại lý bán vé Phương Nam...
        </p>
        <p>
            Đội ngũ lập trình phần mềm của chúng tôi đã được các khách hàng lớn tin tưởng giao cho các dự án quan trong của mình như Becamex Bình Dương, Bất động sản Thành Tuấn, Accounting Pro, Korean Customer, Lan Anh club, Website thương mại điện tử Điện Máy Nhanh, Trung tâm phân phối thuốc Difoco, Trường đào tạo lái xe Tiến Bộ,Tổng công ty truyền tải điện quốc gia PTC4, Công ty vật liệu xây dựng CIIEC, Công ty cổ phần giải pháp sức khỏe Vitamia, Tổng công ty môi trường và đô thị Hồ Chí Minh, Tổng công ty vận chuyển Hồng Bảo Trân, Công ty Phố Vip, Hải đoàn hải quân 129, Tổng đại lý bán vé Phương Nam...
        </p>
        <p>
            Đội ngũ lập trình phần mềm của chúng tôi đã được các khách hàng lớn tin tưởng giao cho các dự án quan trong của mình như Becamex Bình Dương, Bất động sản Thành Tuấn, Accounting Pro, Korean Customer, Lan Anh club, Website thương mại điện tử Điện Máy Nhanh, Trung tâm phân phối thuốc Difoco, Trường đào tạo lái xe Tiến Bộ,Tổng công ty truyền tải điện quốc gia PTC4, Công ty vật liệu xây dựng CIIEC, Công ty cổ phần giải pháp sức khỏe Vitamia, Tổng công ty môi trường và đô thị Hồ Chí Minh, Tổng công ty vận chuyển Hồng Bảo Trân, Công ty Phố Vip, Hải đoàn hải quân 129, Tổng đại lý bán vé Phương Nam...
        </p>
    </div>
</div>